# Writing & Reading large data using pandas
larger than 1GB, lesser than 100 GB

In [1]:
import pandas as pd
df = pd.DataFrame({'a':[1,2,3], 'b': [3,4,5]})
df

   a  b
0  1  3
1  2  4
2  3  5

In [2]:
# how to write large data using pandas
df.to_csv('chunk_file.csv', chunksize=1, index=False)

In [3]:
# How to read large data using pandas -> larger than 1GB, lesser than 100 GB
import pandas as pd
lst = []
df_chunk = pd.read_csv('chunk_file.csv', chunksize=1)
print(type(df_chunk))
for chunk in df_chunk:
    print(type(chunk))
    lst.append(chunk)
df = pd.concat(lst)
df

<class 'pandas.io.parsers.TextFileReader'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

   a  b
0  1  3
1  2  4
2  3  5

In [4]:
lst[0]

   a  b
0  1  3